@import "../_variables.css";

.headerNav {
	background-color: var(--headerColor);
	padding: 1.5em;
}
.headerNavList {
	margin: 0;
	padding: 0;
}
.headerNavList li {
	list-style: none;
}
.headerNavLink {
	text-decoration: none;
	color: var(--textColor);
}
